In [4]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [5]:
train_df = pd.read_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Train.csv')
test_df = pd.read_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Test.csv')

In [6]:
train_df.head()

,Age,ARPU,Age on Network,Bill Payment Aggregator,Brand Identifier,Circle Name,Connection Type,Data Usage,Gender,Genre,ID,International Usage,OTT Content App,Pincode,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App,DND
0,24-28,0-50,24,NaN,Vodafone,Kolkata,Prepaid,10-15,M,Game Series,VFMUKOL38741,NaN,Yes,700040.0,501-1000,51-100,HOICHOI PARTNER PACK,501-750,Non_User,N
1,39-43,0-50,<3,NaN,Vodafone,Kolkata,Prepaid,<1,M,Marathi Drama,VFMUKOL54162,NaN,Yes,700038.0,101-300,1-25,NaN,751-1000,Non_User,N
2,29-33,101-200,>24,NaN,Idea,Delhi,Prepaid,10-15,M,Marathi Drama,IDKRDL59718,NaN,Yes,110053.0,101-200,1-25,NaN,>1000,Non_User,Y
3,>58,>750,18-24,NaN,Vodafone,Mumbai,Prepaid,>15,F,Game Series,VFMUKOL5295,Yes,Yes,410218.0,201-300,1-25,NaN,501-750,Non_User,Y
4,>58,301-500,3-6,301-500,Vodafone,Kolkata,Postpaid,10-15,O,Marathi Drama,VFMUKOL60365,NaN,Yes,700091.0,NaN,26-50,HOICHOI PARTNER PACK,501-750,Non_User,N

# DROPPING

In [7]:
train_df.drop(['Bill Payment Aggregator', 'OTT Content App', 'Pincode', 'ID'], axis=1, inplace=True)

In [8]:
test_df.drop(['Bill Payment Aggregator', 'OTT Content App', 'Pincode', 'ID'], axis=1, inplace=True)

In [9]:
test_df.head()

,Age,ARPU,Age on Network,Brand Identifier,Circle Name,Connection Type,Data Usage,Gender,Genre,International Usage,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App,DND
0,>58,0-50,24,Vodafone,Kolkata,Prepaid,<1,M,Marathi Drama,NaN,1-50,1-25,NaN,0-50,Non_User,N
1,39-43,101-200,18-24,Vodafone,Kolkata,Prepaid,10-15,F,Marathi Drama,NaN,101-300,1-25,MOVIES AND TV TRAIL PACK GOT ACTIVATED WITHOUT...,101-200,Non_User,N
2,39-43,501-750,>24,Idea,Kerala,Postpaid,7.5-10,M,Game Series,NaN,NaN,1-25,NaN,>1000,APP,N
3,39-43,>750,6-9,Idea,Kerala,Postpaid,3-5,M,Game Series,NaN,NaN,0,NaN,101-200,APP,N
4,>58,>750,>24,Idea,Kerala,Postpaid,10-15,M,Game Series,NaN,NaN,1-25,NaN,>1000,Non_User,N

# Missing Values

In [10]:
train_df.isnull().sum()

Age                      2824
ARPU                        0
Age on Network           1361
Brand Identifier            0
Circle Name                 0
Connection Type             0
Data Usage                  0
Gender                   3288
Genre                       0
International Usage    107735
Recharge                27715
SMS Usage                   0
VAS Subscription        80286
Voice Usage                 0
Web/App                     0
DND                         0
dtype: int64

In [11]:
test_df.isnull().sum()

Age                     1175
ARPU                       0
Age on Network           585
Brand Identifier           0
Circle Name                0
Connection Type            0
Data Usage                 0
Gender                  1421
Genre                      0
International Usage    46220
Recharge               11743
SMS Usage                  0
VAS Subscription       34404
Voice Usage                0
Web/App                    0
DND                        0
dtype: int64

### International Usage & VAS Subscription

In [12]:
train_df['International Usage'].fillna('No', inplace=True)
test_df['International Usage'].fillna('No', inplace=True)

In [13]:
train_df['VAS Subscription'].fillna('None', inplace=True)
test_df['VAS Subscription'].fillna('None', inplace=True)

# Dropna

In [14]:
nan_train_df = train_df.dropna()
nan_test_df = test_df.dropna()
nan_df = nan_train_df.append(nan_test_df, ignore_index=True)
nan_df.shape

(118282, 16)

# Label Encoding

In [15]:
train_df.fillna('NaN', inplace=True)

In [16]:
le = LabelEncoder()

### 01 - Age

In [17]:
train_df['Age'] = le.fit_transform(train_df['Age'])

In [18]:
le_age_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [19]:
train_df['Age'].replace(le_age_mapping['NaN'], -1, inplace=True)

In [20]:
test_df['Age'].replace(le_age_mapping, inplace=True)

### 02 - ARPU

In [21]:
train_df['ARPU'] = le.fit_transform(train_df['ARPU'])
le_arpu_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [22]:
le_arpu_mapping

{'0': 0,
 '0-50': 1,
 '101-200': 2,
 '201-300': 3,
 '301-500': 4,
 '501-750': 5,
 '51-100': 6,
 '>750': 7}

In [23]:
test_df['ARPU'].replace(le_arpu_mapping, inplace=True)

### 03 - Age on Network

In [24]:
train_df['Age on Network'] = le.fit_transform(train_df['Age on Network'])
le_aon_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [25]:
train_df['Age on Network'].replace(le_aon_mapping['NaN'], -1, inplace=True)

In [26]:
test_df['Age on Network'].replace(le_aon_mapping, inplace=True)

### 04 - Brand Identifier

In [27]:
train_df['Brand Identifier'] = le.fit_transform(train_df['Brand Identifier'])
le_brand_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [28]:
test_df['Brand Identifier'].replace(le_brand_mapping, inplace=True)

### 05 - Circle Name

In [29]:
train_df['Circle Name'] = le.fit_transform(train_df['Circle Name'])
le_circle_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [30]:
test_df['Circle Name'].replace(le_circle_mapping, inplace=True)

### 06 - Connection Type

In [31]:
train_df['Connection Type'] = le.fit_transform(train_df['Connection Type'])
le_connection_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [32]:
test_df['Connection Type'].replace(le_connection_mapping, inplace=True)

### 07 - Data Usage

In [33]:
train_df['Data Usage'] = le.fit_transform(train_df['Data Usage'])
le_data_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [34]:
test_df['Data Usage'].replace(le_data_mapping, inplace=True)

### 08 - Gender

In [35]:
train_df['Gender'] = le.fit_transform(train_df['Gender'])
le_gender_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [36]:
train_df['Gender'].replace(le_gender_mapping['NaN'], -1, inplace=True)

In [37]:
test_df['Gender'].replace(le_gender_mapping, inplace=True)

### 09 - Genre

In [38]:
train_df['Genre'] = le.fit_transform(train_df['Genre'])
le_genre_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [39]:
test_df['Genre'].replace(le_genre_mapping, inplace=True)

### 10 - International Usage

In [40]:
train_df['International Usage'] = le.fit_transform(train_df['International Usage'])
le_international_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [41]:
test_df['International Usage'].replace(le_international_mapping, inplace=True)

### 11 - Recharge

In [42]:
train_df['Recharge'] = le.fit_transform(train_df['Recharge'])
le_recharge_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [43]:
train_df['Recharge'].replace(le_recharge_mapping['NaN'], -1, inplace=True)

In [44]:
test_df['Recharge'].replace(le_recharge_mapping, inplace=True)

### 12 - SMS Usage

In [45]:
train_df['SMS Usage'] = le.fit_transform(train_df['SMS Usage'])
le_sms_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [46]:
test_df['SMS Usage'].replace(le_sms_mapping, inplace=True)

### 13 - VAS Subscription

In [47]:
train_df['VAS Subscription'] = le.fit_transform(train_df['VAS Subscription'])
le_vas_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [48]:
test_df['VAS Subscription'].replace(le_vas_mapping, inplace=True)

### 14 - Voice Usage

In [49]:
train_df['Voice Usage'] = le.fit_transform(train_df['Voice Usage'])
le_voice_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [50]:
test_df['Voice Usage'].replace(le_voice_mapping, inplace=True)

### 15 - Web/App

In [51]:
train_df['Web/App'] = le.fit_transform(train_df['Web/App'])
le_webapp_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [52]:
test_df['Web/App'].replace(le_webapp_mapping, inplace=True)

### 16 - DND

In [53]:
train_df['DND'] = le.fit_transform(train_df['DND'])
le_dnd_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

In [54]:
test_df['DND'].replace(le_dnd_mapping, inplace=True)

### Test Data

In [55]:
test_df.replace(np.nan, -1, inplace=True)

In [56]:
test_df['Recharge'] = test_df['Recharge'].astype('int')
test_df['Age'] = test_df['Age'].astype('int')
test_df['Age on Network'] = test_df['Age on Network'].astype('int')
test_df['Gender'] = test_df['Gender'].astype('int')

In [57]:
test_df.dtypes

Age                     int32
ARPU                    int64
Age on Network          int32
Brand Identifier        int64
Circle Name             int64
Connection Type         int64
Data Usage             object
Gender                  int32
Genre                   int64
International Usage     int64
Recharge                int32
SMS Usage               int64
VAS Subscription       object
Voice Usage             int64
Web/App                 int64
DND                     int64
dtype: object

In [58]:
test_df.drop([142, 427, 18066, 41997, 4725, 35398, 10893, 38518, 17787, 22955, 47284], inplace=True)

In [59]:
test_df['Data Usage'] = test_df['Data Usage'].astype('int')
test_df['VAS Subscription'] = test_df['VAS Subscription'].astype('int')

# To The CSV

In [60]:
train_df.to_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Train_cleaned.csv', index=False)

In [61]:
test_df.to_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Test_cleaned.csv', index=False)