In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Train_cleaned.csv')
test_df = pd.read_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Test_cleaned.csv')

In [3]:
test_df.dtypes

Age                    int64
ARPU                   int64
Age on Network         int64
Brand Identifier       int64
Circle Name            int64
Connection Type        int64
Data Usage             int64
Gender                 int64
Genre                  int64
International Usage    int64
Recharge               int64
SMS Usage              int64
VAS Subscription       int64
Voice Usage            int64
Web/App                int64
DND                    int64
dtype: object

# KNN Imputer

In [4]:
train_df.shape

(112589, 16)

In [5]:
from sklearn.impute import KNNImputer

### KNNImputer for train set

In [6]:
imputer = KNNImputer(missing_values=-1, n_neighbors=5)

m, n = 0, train_df.shape[0]//20
for i in range(20):
    k = train_df.shape[0]//20
    train_df[m:n] = imputer.fit_transform(train_df[m:n])
    train_df[m:n] = pd.DataFrame(train_df[m:n])
    m, n = m+k, n+k
train_df.head()

,Age,ARPU,Age on Network,Brand Identifier,Circle Name,Connection Type,Data Usage,Gender,Genre,International Usage,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App,DND
0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,0.0,6.0,6.0,43.0,5.0,1.0,0.0
1,4.0,1.0,6.0,1.0,2.0,1.0,6.0,1.0,3.0,0.0,3.0,1.0,87.0,7.0,1.0,0.0
2,2.0,2.0,7.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,2.0,1.0,87.0,8.0,1.0,1.0
3,9.0,7.0,1.0,1.0,3.0,1.0,7.0,0.0,2.0,1.0,4.0,1.0,87.0,5.0,1.0,1.0
4,9.0,4.0,3.0,1.0,2.0,0.0,2.0,3.0,3.0,0.0,3.0,3.0,43.0,5.0,1.0,0.0

### KNNImputer for test set

In [7]:
imputer = KNNImputer(missing_values=-1, n_neighbors=5)

m, n = 0, test_df.shape[0]//20
for i in range(20):
    k = test_df.shape[0]//20
    test_df[m:n] = imputer.fit_transform(test_df[m:n])
    test_df[m:n] = pd.DataFrame(test_df[m:n])
    m, n = m+k, n+k
test_df.head()

,Age,ARPU,Age on Network,Brand Identifier,Circle Name,Connection Type,Data Usage,Gender,Genre,International Usage,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App,DND
0,9.0,1.0,2.0,1.0,2.0,1.0,6.0,1.0,3.0,0.0,1.0,1.0,87.0,1.0,1.0,0.0
1,4.0,2.0,1.0,1.0,2.0,1.0,2.0,0.0,3.0,0.0,3.0,1.0,85.0,2.0,1.0,0.0
2,4.0,5.0,7.0,0.0,1.0,0.0,5.0,1.0,2.0,0.0,3.2,1.0,87.0,8.0,0.0,0.0
3,4.0,7.0,4.0,0.0,1.0,0.0,3.0,1.0,2.0,0.0,3.6,0.0,87.0,2.0,0.0,0.0
4,9.0,7.0,7.0,0.0,1.0,0.0,2.0,1.0,2.0,0.0,2.6,1.0,87.0,8.0,1.0,0.0

### Rounding off the imputed values and converting datatype to int

In [8]:
for column in train_df.columns:
    train_df[column] = train_df[column].apply(lambda x: round(x))
    train_df[column] = train_df[column].astype('int64')
    test_df[column] = test_df[column].apply(lambda x: round(x))
    test_df[column] = test_df[column].astype('int64')

In [9]:
test_df.head()

,Age,ARPU,Age on Network,Brand Identifier,Circle Name,Connection Type,Data Usage,Gender,Genre,International Usage,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App,DND
0,9,1,2,1,2,1,6,1,3,0,1,1,87,1,1,0
1,4,2,1,1,2,1,2,0,3,0,3,1,85,2,1,0
2,4,5,7,0,1,0,5,1,2,0,3,1,87,8,0,0
3,4,7,4,0,1,0,3,1,2,0,4,0,87,2,0,0
4,9,7,7,0,1,0,2,1,2,0,3,1,87,8,1,0

In [10]:
train_df.head()

,Age,ARPU,Age on Network,Brand Identifier,Circle Name,Connection Type,Data Usage,Gender,Genre,International Usage,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App,DND
0,1,1,2,1,2,1,2,1,2,0,6,6,43,5,1,0
1,4,1,6,1,2,1,6,1,3,0,3,1,87,7,1,0
2,2,2,7,0,0,1,2,1,3,0,2,1,87,8,1,1
3,9,7,1,1,3,1,7,0,2,1,4,1,87,5,1,1
4,9,4,3,1,2,0,2,3,3,0,3,3,43,5,1,0

# Checking

In [11]:
train_df.drop([112582, 112583, 112588], inplace=True)

In [12]:
train_df.replace(-1, np.nan).isnull().sum()

Age                    0
ARPU                   0
Age on Network         0
Brand Identifier       0
Circle Name            0
Connection Type        0
Data Usage             0
Gender                 0
Genre                  0
International Usage    0
Recharge               0
SMS Usage              0
VAS Subscription       0
Voice Usage            0
Web/App                0
DND                    0
dtype: int64

In [13]:
test_df.replace(-1, np.nan).isnull().sum()

Age                    0
ARPU                   0
Age on Network         0
Brand Identifier       0
Circle Name            0
Connection Type        0
Data Usage             0
Gender                 0
Genre                  0
International Usage    0
Recharge               0
SMS Usage              0
VAS Subscription       0
Voice Usage            0
Web/App                0
DND                    0
dtype: int64

In [14]:
train_df.shape

(112586, 16)

# TO THE CSV

In [15]:
train_df.to_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Train_imputed.csv', index=False)
test_df.to_csv('E:\VIL Codefest\secret\VIL Confidential Information Dataset\Test_imputed.csv', index=False)